<form action="/Produto/Adiciona" method="post">
@Html.AntiForgeryToken()
<label>Nome: <input name="produto.Nome" /></label>
@Html.ValidationMessage("produto.Nome")
<label>Preco: <input name="produto.Preco" /></label>
@Html.ValidationMessage("produto.Preco")
<label>Quantidade: <input name="produto.Quantidade" /></label>
@Html.ValidationMessage("produto.Quantidade")
<label>Descricao: <input name="produto.Descricao" /></label>
@Html.ValidationMessage("produto.Descricao")
<label>
Categoria:
<select name="produto.Categoria.Id">
@foreach(var categoria in Model) {
<option value="@categoria.Id">@categoria.Nome</option>
}
</select>
@Html.ValidationMessage("produto.Categoria")
</label>
<input type="submit" />
</form>