@{
Layout = "~/Views/_LayoutEstoque.cshtml";
}

Id: @Model.Id<br />
Nome: @Model.Nome<br />
Quantidade: @Model.Quantidade<br />
Preço: @Model.Preco
Descricao: @Model.Descricao
Categoria: @Model.Categoria.Nome

<a href="/Produto">Voltar para a lista de produtos</a>